# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
* Popular Langauges in Data Science
* Commonly Used Lanaguages in Data Science
* Ways of evaluating Arithemetic Expression in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. SciPY
3. NumPy
4. scikit-learn

| Data Science Tools|
|---|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

(3*4)+5

In [5]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [7]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

##Author
Paul